 @font-face {
    font-family: BebasKai;
    src: url(fonts/BebasKai.ttf);
  }

  @font-face {
    font-family:ZillaSlab;
    src: url(fonts/ZillaSlab.ttf);
  }
  
body {

    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

header {

    height: 100vh;
    background-image: url(imagens/bgheader.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-content: center;

}

.logodesc {

    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.logo {

    align-self: center;

}

.description {

    display: flex;
    justify-content: center;
}

.description ul {

    width: 25em;
    font-size: 1.5em;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family:ZillaSlab;
    padding:0;

}


.saia {
    width: 100vw;
}

.saia2{

    width: 100%;
    transform: translateY(1em);
}

.container {

    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}

.image-gallery {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
    'img-1 img-2 img-3 img-3'
    'img-1 img-4 img-5 img-6'
    'img-7 img-7 img-8 img-6';
 
}

.image-gallery a {

    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.image-gallery a ion-icon{

    color: rgba(255,255,255, .6); 
    font-size: 3rem;
    position: relative;
    z-index:100;
    padding: 1rem 3rem;
    border:2px solid rgb(255,255,255, 0.6);
    border-radius: .4rem;
    /* opacity: 0; */
    transition: opacity .5s;

}

.image-gallery a::before {

    content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(0,0,0, .8);
     opacity: 0;
     transition: opacity .5s;
}

.image-gallery a:hover i, .image-gallery a:hover::before{
    opacity: 1;


}

.img-1 {

    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url(imagens/gallery/img-1.jpg);
}

.img-2 {

    grid-area: img-2;
    background-image: url(imagens/gallery/img-2.jpg);
}

.img-3 {

    grid-area: img-3;
    background-image: url(imagens/gallery/img-3.jpg);
}


.img-4 {

    grid-area: img-4;
    background-image: url(imagens/gallery/img-4.jpg);
}


.img-5 {

    grid-area: img-5;
    background-image: url(imagens/gallery/img-5.jpg);
}


.img-6 {

    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url(imagens/gallery/img-6.jpg);
}


.img-7 {

    grid-area: img-7;
    background-image: url(imagens/gallery/img-7.jpg);
}

.img-8 {

    grid-area: img-8;
    background-image: url(imagens/gallery/img-8.jpg);
}


main {

    width: 70%;
    margin: auto;
}


section{

    display: flex;
    justify-content: center;
    margin: 10em auto 10em auto;
}

.perfil .foto-perfil {

   width: 28em;
   height: 40em;
}

.texto {

    margin-left: 5em;
    width: 90%;
}

.texto h1, .livro h1 {

    font-size: 5em;
    font-family: BebasKai;
}

.texto p {
    font-size: 1.5em;
    line-height: 1.5em;
    font-family:ZillaSlab;
}

.livro {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    margin: 10em auto;
    position: relative;
}

.livro::before {

    content: '';
    height: 100%;
    width: 2px;
    background-color: rgb(218, 218, 218);
    position: absolute;
    left: -2em;
}

.mockup-livro1{

    width: 25em;
    height: 100%;
    display:inline-block;
}

.mockup-livro2 {

    width: 20em;
    height: 100%;
    display:inline-block;
}

.livrodesc {

    width: 100%;
    justify-content: center;
    text-align: left;
}

.livro p {

    font-size: 1.5em;
    width: auto;
    line-height: 1.5em;
    font-family: ZillaSlab;
}

button{

  background-color: #1d1d1d;
  border: none;
  color: rgb(255, 255, 255);
  padding: .4em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5em;
  font-family: BebasKai;
  cursor: pointer;

}

button:hover {

    background-color: rgb(78, 78, 78);
}

footer {

    height: 30vh;
    background-image: url(imagens/bgfooter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-icons {

    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
 }


 .social-icons i {

    font-size: 1.5rem;
    color: rgb(133, 133, 133);
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
 }

 .social-icons i:hover, .social-icons i:focus {
     color: white;
 }

 .mancha1{

    width: 15em; 
    position: absolute;
    top: 110em;
    right: 0;

 }

 .mancha2{

    width: 25em; 
    position: absolute;
    top: 70em;
    left: -5em;
    z-index: -1;
 }

 .mancha3{

    width: 15em; 
    position: absolute;
    top: 170em;
    left: -5em;
 }

 .mancha4{

    width: 15em; 
    position: absolute;
    top: 230em;
    left: 50%;
 }

 .mancha5{

    width: 15em; 
    position: absolute;
    top: 320em;
    right: 17em;
 }


@media (max-width: 1200px) {


    .image-gallery {


        grid-template-areas: 
        'img-1 img-2 img-3 img-3'
        'img-1 img-4 img-5 img-6'
        'img-7 img-7 img-8 img-6';

    }

    main {

        width: 90%;
    }

    .perfil .foto-perfil {

        transform: translateY(5em);
        width: 18em;
        height: 25em;
     }

    .texto {

        margin-left: 1em;
    }

    .texto p {

        font-size: 1.2em;
        line-height: 1.5em;
        font-family:ZillaSlab;
    }

    .livro p {
        font-size: 1.2em;
    }


}


@media (max-width: 800px) {

    .perfil .foto-perfil {

        transform: translateY(8em);
 
     }

    main {

        width: 90%;
    }

    .container {

        padding: 0;
    }


    .image-gallery {


        grid-template-areas: 
        'img-1 img-1 img-2 img-2'
        'img-3 img-3 img-4 img-4'
        'img-5 img-5 img-6 img-6'
        'img-7 img-7 img-8 img-8';

    }

    .img-1 {

        min-height: 25rem;

    }

    .img-6 {

        min-height: 25rem;

    }

}

@media (max-width: 600px) {

    .logo img {

        width: 100%;
    }
    
    .description ul{

        flex-direction: column;
        text-align: center;
        font-size: 1.3em;
    }
    .description ul li {

        margin-top: 1em;
    }

    section{

        flex-direction: column;
        
    }

    .texto {

        margin: auto;
    }

    .perfil .foto-perfil {

        transform: translateY(2em);
        width: 18em;
        height: 25em;
        align-self: center;
     }
     

    main {

        width: 100%;
        overflow: hidden;
    }

    .container {

        padding: 0;
    }


    .image-gallery {

        grid-gap: 0;
        grid-template-areas: 
        'img-1 img-1 img-2 img-2'
        'img-3 img-3 img-4 img-4'
        'img-5 img-5 img-6 img-6'
        'img-7 img-7 img-8 img-8';

    }

    .mockup-livro1{

        width: 15em;
    }
    
    .mockup-livro2 {
    
        width: 15em;
    
    }

    .mancha4{

      display: none;
     }



}